* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

h1{
    display: inline-block;
    margin-top:25px;
    margin-left:500px;
    
}

h2{
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
    /* font-family: Arial; */
    font-weight: lighter;
    color: black;
    padding-bottom: 20px;
}

h4{
    text-align: center;
    font-size: 50px;
    /* margin-top: 40px; */
    /* font-family: Arial; */
    font-weight: lighter;
    color: black;
    padding-bottom: 20px;
}

p{
    color: black;
    font-size: 25px;
    padding-bottom: 50px;
}

ul {
    margin-top: 30px;
    list-style: none;
    display: inline-block;
    float: right;
    
}

.pics{
    display: inline-block;
    margin-top: 30px;
}

.Pics2{
    /* margin-top: 80px;
    margin-right: 700px;
    display: inline-block;
    position: relative; */
    float: left;
    margin-top: 200px;
}

.Text{
    display: inline-block;
}

/* h3{
    color:black;
    font-size: 35px;
    text-decoration: none;
} */

li{
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem;
}

nav {
    display: block;
    background-color: black;
    border-bottom: 1px solid gray;
    width: 100%;
    height: 80px;
    position: fixed;
}


nav li a:hover{
    background: white;
    color: black;
    transition: all 250ms ease-in;
}


.box {
    height: 1000px;
    border-bottom: 1px solid gray;
    padding-top:15px;
    color: black;
    font-size: 50px;
    text-align: center;
}

#home{
    background-color: white;
}

#about{
    background-color: white;
}

#activities {
    background-color: white;
}

